.sign {
  bottom: -10px;
  right: 300px;
}
.trusted-sign {
  top: 130px;
}
.twitter-sign {
  top: 50px;
  right: 90px;
}
.social {
  font-weight: 400;
  font-size: 18px;
}
.social-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.monitor {
  bottom: 40px;
}
.input-email {
  position: relative;
}
.eye {
  position: absolute;
  right: 20px;
  top: 40px;
}
.online-sign {
  bottom: 100px;
}
